body
{
    font-family: Arial, Helvetica, sans-serif;
}

h1, ul
{
    margin-bottom: 40px;
}

h1
{
    color:white;
}

ul
{
    padding: 0;
}

.content, li
{
    text-align: center;
}

li
{
    list-style-type: none;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid black;
}

.content
{
    margin:auto;
    padding:0px 20px 10px 20px;
    width:25%;
    background-color:#000099;
}

#todotxt
{
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border-color: black;
}

#addtodo
{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}